@font-face {
  font-family: "Gilroy";
  src: url(/font/Gilroy-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: url(/font/Gilroy-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url(/font/Gilroy-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url(/font/Gilroy-Regular.ttf);
  font-weight: 400;
}
.container {
  width: 1180px;
  margin: 0 auto;
}

.main-btn {
  all: unset;
  box-sizing: border-box;
  padding: 14px 28px;
  background-color: #003459;
  color: #FDFDFD;
  border-radius: 57px;
}

.main-btn:hover {
  cursor: pointer;
  border: 2.5px solid #003459;
  background-color: transparent;
  color: #003459;
  padding: 12px 26px;
}

.secondary-btn {
  all: unset;
  box-sizing: border-box;
  padding: 14px 28px;
  background-color: transparent;
  color: #003459;
  border-radius: 57px;
  border: 1.5px solid #003459;
}

.secondary-btn:hover {
  cursor: pointer;
  background-color: #003459;
  color: #FDFDFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* .shape {
  all: unset;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Gilroy", sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

section {
  padding-block: 60px;
}

.card {
  border-radius: 12px;
  overflow: hidden;
  background: #FDFDFD;
  padding: 8px 8px 0px 8px;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
}
.card img {
  width: 100%;
  height: 264px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .card-body {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.card .card-body h5 {
  color: #00171F;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.card .card-body p {
  color: #00171F;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.card .card-body small {
  color: #667479;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.card:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
  box-shadow: 0px 0px 25px 5px #FFB775;
}

.card {
  border-radius: 12px;
  overflow: hidden;
  background: #FDFDFD;
  padding: 8px 8px 0px 8px;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
}
.card img {
  width: 100%;
  height: 264px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .card-body {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.card .card-body .card-offer {
  width: 100%;
  height: 34px;
  display: flex;
  padding: 6px 10px 4px 10px;
  align-items: center;
  gap: 2px;
  align-self: stretch;
  border-radius: 8px;
  background-color: #FCEED5;
}
.card .card-body .card-offer p {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: #002A48;
}
.card .card-body .card-offer img {
  width: 20px;
  height: 20px;
}
.card .card-body h5 {
  color: #00171F;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.card .card-body p {
  color: #00171F;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.card .card-body small {
  color: #667479;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.knowledge-card {
  border-radius: 12px;
  overflow: hidden;
  background: #FDFDFD;
  padding: 8px 8px 0px 8px;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
}
.knowledge-card img {
  width: 100%;
  height: 264px;
  -o-object-fit: cover;
     object-fit: cover;
}
.knowledge-card .card-body {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.knowledge-card .card-body h5 {
  color: #00171F;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.knowledge-card .card-body p {
  color: #242B33;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.knowledge-card .card-body small {
  color: #667479;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.sidebar {
  position: fixed;
  left: -359px;
  top: 0;
  padding: 60px 35px;
  width: 359px;
  height: 100%;
  background-color: #003459;
  z-index: 1110;
  transition: all 0.5s ease;
}
.sidebar i.cancel {
  position: absolute;
  right: 5%;
  font-size: 28px;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar ul li {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}
.sidebar ul li.main-btn {
  background-color: #F7DBA7;
  color: #003459;
}

header#main-header {
  background-color: #FCEED5;
  padding-top: 28px;
  position: relative;
  border-bottom-right-radius: 40px;
  height: 695px;
  overflow: hidden;
  z-index: 1;
}
header#main-header .sidebar label #cancel {
  position: absolute;
}
header#main-header #check {
  display: none;
}
header#main-header #check:checked ~ .sidebar {
  left: 0;
}
header#main-header .container {
  position: relative;
}
header#main-header .container .bar, header#main-header .container .search {
  display: none;
}
header#main-header .container .shape-1 {
  z-index: -1;
  position: absolute;
  top: -100%;
  left: -35%;
}
header#main-header .container .shape-2 {
  z-index: -1;
  position: absolute;
  top: 25%;
  left: -1%;
}
header#main-header .container .shape-3 {
  z-index: -1;
  position: absolute;
  top: 18%;
  left: 58%;
}
header#main-header .container .shape-4 {
  z-index: -1;
  position: absolute;
  top: 30%;
  left: 55%;
}
header#main-header .container .shape-5 {
  z-index: -1;
  position: absolute;
  top: 31.5%;
  left: 55%;
}
header#main-header .container .shape-6 {
  z-index: -1;
  position: absolute;
  top: 43%;
  left: 45%;
}
header#main-header .container .shape-7 {
  z-index: -1;
  position: absolute;
  top: 30%;
  left: 46%;
}
header#main-header .container .shape-8 {
  z-index: -1;
  position: absolute;
  bottom: -108%;
  left: -18%;
}
header#main-header .container .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: auto;
}
header#main-header .container .nav label #btn {
  position: absolute;
}
header#main-header .container ul.nav-left {
  display: flex;
  align-items: center;
  gap: 48px;
  color: #003459;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
header#main-header .container ul.nav-right {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #003459;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
header#main-header .container ul.nav-right:last-child {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}
header#main-header .container .showcase .showcase-wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 615px;
}
header#main-header .container .showcase .showcase-wrapper .left-side {
  padding-top: 80px;
}
header#main-header .container .showcase .showcase-wrapper .left-side h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 68px;
  text-transform: capitalize;
  color: #003459;
}
header#main-header .container .showcase .showcase-wrapper .left-side h1 span {
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  text-transform: capitalize;
  color: #003459;
}
header#main-header .container .showcase .showcase-wrapper .left-side p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #003459;
}
header#main-header .container .showcase .showcase-wrapper .left-side .buttons {
  margin-top: 34px;
  display: flex;
  gap: 20px;
}
header#main-header .container .showcase .showcase-wrapper .right-side img {
  position: absolute;
  bottom: 0;
}
header#main-header .search-form {
  height: 40px;
  display: inline-block;
  border-radius: 20px;
  background: #FDFDFD;
  line-height: 40px;
  font-size: 18px;
  box-shadow: 0px 0px 3px #111;
  overflow: hidden;
  position: relative;
  width: auto;
}
header#main-header .search-form span {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
}
header#main-header span.slens {
  position: absolute;
  z-index: 1;
}
header#main-header input#s {
  width: 0px;
  margin: 0px 0px;
  padding: 0px 0px 0px 40px;
  border: none;
  height: 40px;
  vertical-align: top;
  position: relative;
  z-index: 2;
  background: transparent;
  transition: width 1s;
}
header#main-header input#s:focus {
  outline: none;
  width: 280px;
}
header#main-header .slens i {
  color: #CCD1D2;
}
header#main-header input#s + .sclose {
  width: 0px;
}
header#main-header input#s:focus + .sclose {
  width: 40px;
  cursor: pointer;
}
header#main-header .sclose i {
  color: red;
}
header#main-header .dropdown {
  position: relative;
  display: inline-block;
}
header#main-header .dropdown-menu {
  position: absolute;
  top: 200%;
  left: -50px;
  border: 1px solid #003459;
  background-color: #FDFDFD;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2666666667);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
header#main-header .dropdown:hover .dropdown-menu,
header#main-header input[type=checkbox]:checked + .dropdown-menu {
  opacity: 1;
  visibility: visible;
  padding: 20px;
  border-color: #003459;
}
header#main-header .dropdown-menu li {
  padding: 0.8em 1.4em;
  background: #eee;
  margin-block: 0.5rem;
  min-width: 200px;
  text-align: left;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}
header#main-header .dropdown-menu li:hover {
  padding-left: 2.8em;
  background: #003459;
  color: #FDFDFD;
}

section#for-sale img {
  border-radius: 12px;
}
section#for-sale .head {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}
section#for-sale .head p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #00171F;
}
section#for-sale .head p span {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: capitalize;
  color: #003459;
}
section#for-sale .head a.secondary-btn {
  margin-left: auto;
}
section#for-sale .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
section#for-sale .cards .last {
  display: none;
}

section#explore .container {
  background-color: #003459;
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  position: relative;
}
section#explore .container .explore-shape-1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
section#explore .container .explore-shape-2 {
  position: absolute;
  top: -100%;
  left: 43%;
}
section#explore .container .explore-shape-3 {
  position: absolute;
  visibility: hidden;
}
section#explore .container img {
  flex: 1;
  position: relative;
  z-index: 1;
}
section#explore .container .explore-right {
  flex: 1;
  text-align: right;
  padding-right: 72px;
  padding-top: 64px;
  position: relative;
  z-index: 1;
}
section#explore .container .explore-right h2 {
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: 68px;
  color: #003459;
  text-transform: capitalize;
}
section#explore .container .explore-right h2 span {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  text-transform: capitalize;
}
section#explore .container .explore-right p {
  color: #242B33;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
section#explore .container .explore-right .buttons {
  padding-top: 40px;
}
section#explore .container .explore-right .buttons .main-btn {
  margin-left: 20px;
}

section#products img {
  border-radius: 12px;
}
section#products .head {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
section#products .head p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #00171F;
}
section#products .head p span {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: capitalize;
  color: #003459;
}
section#products .head a.secondary-btn {
  margin-left: auto;
}
section#products .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

section#partners .container .partners-head {
  display: flex;
  justify-content: space-between;
}
section#partners .container .partners-head p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
}
section#partners .container .partners-head p span {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: capitalize;
  color: #003459;
}
section#partners .container .partner-cops {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section#adoption .container {
  background-color: #FFB775;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  height: 378px;
}
section#adoption .container .adoption-shape-1 {
  position: absolute;
  top: 0;
  left: 0;
}
section#adoption .container .adoption-shape-2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
section#adoption .container img {
  position: relative;
  z-index: 1;
}
section#adoption .container .left {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 64px;
  padding-left: 85px;
}
section#adoption .container .left h2 {
  color: #003459;
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: 68px;
  text-transform: capitalize;
}
section#adoption .container .left h3 {
  color: #003459;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  text-transform: capitalize;
}
section#adoption .container .left .buttons {
  padding-top: 42px;
  display: flex;
  gap: 20px;
}

section#knowledge .container .kn-cards a.last {
  display: none;
}
section#knowledge img {
  border-radius: 12px;
  padding-bottom: 15px;
}
section#knowledge .kn-span {
  padding: 2px 10px;
  background-color: #00A7E7;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  border-radius: 28px;
  color: #FDFDFD;
  width: 90px;
}
section#knowledge .knowledge-head {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
section#knowledge .knowledge-head p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #00171F;
}
section#knowledge .knowledge-head p span {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: capitalize;
  color: #003459;
}
section#knowledge .knowledge-head a.secondary-btn {
  margin-left: auto;
}
section#knowledge .kn-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

footer#main-footer {
  background-color: #FCEED5;
  padding-top: 40px;
}
footer#main-footer .container .bg {
  display: flex;
  padding: 32px;
  gap: 20px;
  border-radius: 16px;
  background-color: #003459;
}
footer#main-footer .container .bg h3 {
  color: #FDFDFD;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: capitalize;
  width: 40%;
}
footer#main-footer .container .bg form {
  width: 60%;
  padding: 12px;
  align-items: center;
  gap: 12px;
  display: flex;
  border-radius: 14px;
  background-color: #fff;
}
footer#main-footer .container .bg form input {
  padding: 14px 28px;
  flex: 1;
  width: 70%;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border-radius: 8px;
  border: 1px solid #99A2A5;
}
footer#main-footer .container .bg form button {
  border-radius: 8px;
  width: 30%;
}
footer#main-footer .container .footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-bottom: 1px solid #CCD1D2;
}
footer#main-footer .container .footer-nav ul.footer-list {
  display: flex;
  gap: 60px;
}
footer#main-footer .container .footer-nav ul.footer-list li {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #00171F;
}
footer#main-footer .container .footer-nav ul.footer-icons {
  display: flex;
  gap: 40px;
}
footer#main-footer .container .footer-nav ul.footer-icons li {
  width: 24px;
  height: 24px;
}
footer#main-footer .container .policy {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
footer#main-footer .container .policy p {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #667479;
}
footer#main-footer .container .policy ul {
  display: flex;
  gap: 20px;
}
footer#main-footer .container .policy ul li {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #667479;
}

@media (max-width: 1440px) {
  .container {
    width: 572px;
  }
  header#main-header {
    background-color: #FCEED5;
    padding-top: 47px;
    position: relative;
    border-bottom-right-radius: 40px;
    height: 794px;
    overflow: hidden;
    z-index: 1;
  }
  header#main-header .logo {
    margin: 0 auto;
  }
  header#main-header .container {
    position: relative;
  }
  header#main-header .container .bar, header#main-header .container .search {
    display: block;
  }
  header#main-header .container .shape-1 {
    z-index: -1;
    position: absolute;
    top: -75%;
    left: -48%;
    width: 635px;
  }
  header#main-header .container .shape-2 {
    display: none;
  }
  header#main-header .container .shape-3 {
    z-index: -1;
    position: absolute;
    top: 18%;
    left: 37%;
  }
  header#main-header .container .shape-4 {
    width: 15.928px;
    height: 15.928px;
    z-index: -1;
    position: absolute;
    top: 22%;
    left: 15%;
  }
  header#main-header .container .shape-5 {
    width: 12.437px;
    height: 12.437px;
    z-index: -1;
    position: absolute;
    top: 22.5%;
    left: 15%;
  }
  header#main-header .container .shape-6 {
    width: 528.983px;
    height: 528.983px;
    z-index: -1;
    position: absolute;
    top: 70%;
    left: -5%;
  }
  header#main-header .container .shape-7 {
    width: 528.983px;
    height: 528.983px;
    z-index: -1;
    position: absolute;
    top: 64%;
    left: 0;
  }
  header#main-header .container .shape-8 {
    display: none;
  }
  header#main-header .container .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: auto;
  }
  header#main-header .container ul.nav-left {
    display: none;
  }
  header#main-header .container ul.nav-right {
    display: none;
  }
  header#main-header .container .showcase .showcase-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 705px;
    align-items: center;
  }
  header#main-header .container .showcase .showcase-wrapper .left-side {
    padding-top: 35px;
  }
  header#main-header .container .showcase .showcase-wrapper .left-side h1 {
    font-size: 46px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    text-transform: capitalize;
    color: #003459;
    margin: 0;
  }
  header#main-header .container .showcase .showcase-wrapper .left-side h1 span {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    text-transform: capitalize;
    color: #003459;
  }
  header#main-header .container .showcase .showcase-wrapper .left-side p {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    color: #003459;
  }
  header#main-header .container .showcase .showcase-wrapper .left-side .buttons {
    margin-top: 34px;
    display: flex;
    gap: 20px;
  }
  header#main-header .container .showcase .showcase-wrapper .right-side img {
    width: 414px;
    position: absolute;
    bottom: 0;
    left: 2%;
  }
  section#for-sale .container .cards a.last {
    display: none;
  }
  section#for-sale img {
    border-radius: 12px;
  }
  section#for-sale .head {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
  }
  section#for-sale .head p {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #00171F;
  }
  section#for-sale .head p span {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: capitalize;
    color: #003459;
  }
  section#for-sale .head a.secondary-btn {
    margin-left: auto;
  }
  section#for-sale .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  section#explore .container {
    height: 640px;
    background-color: #003459;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }
  section#explore .container .explore-shape-1 {
    position: absolute;
    bottom: -20%;
    left: 0;
  }
  section#explore .container .explore-shape-2 {
    position: absolute;
    display: none;
  }
  section#explore .container .explore-shape-3 {
    visibility: visible;
    top: 0;
    left: 0;
  }
  section#explore .container img {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  section#explore .container .explore-right {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex: 1;
    text-align: center;
    padding-top: 64px;
    padding-right: 0;
    position: relative;
    z-index: 1;
  }
  section#explore .container .explore-right h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px;
    text-transform: capitalize;
  }
  section#explore .container .explore-right h2 span {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: capitalize;
  }
  section#explore .container .explore-right p {
    color: #242B33;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }
  section#explore .container .explore-right .buttons {
    padding-top: 32px;
  }
  section#explore .container .explore-right .buttons .main-btn {
    margin-left: 20px;
  }
  section#products {
    padding-bottom: 170px;
  }
  section#products img {
    border-radius: 12px;
  }
  section#products .head {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
  }
  section#products .head p {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #00171F;
  }
  section#products .head p span {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: capitalize;
    color: #003459;
  }
  section#products .head a.secondary-btn {
    margin-left: auto;
  }
  section#products .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  section#partners {
    display: none;
  }
  section#adoption {
    display: none;
  }
  section#knowledge .container .kn-cards a.last {
    display: none;
  }
  section#knowledge img {
    border-radius: 12px;
    padding-bottom: 15px;
  }
  section#knowledge .kn-span {
    padding: 2px 10px;
    background-color: #00A7E7;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    border-radius: 28px;
    color: #FDFDFD;
    width: 90px;
  }
  section#knowledge .knowledge-head {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
  }
  section#knowledge .knowledge-head p {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #00171F;
  }
  section#knowledge .knowledge-head p span {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: capitalize;
    color: #003459;
  }
  section#knowledge .knowledge-head a.secondary-btn {
    margin-left: auto;
  }
  section#knowledge .kn-cards {
    display: grid;
    grid-template-columns: 1fr;
  }
  section#knowledge .kn-cards .knowledge-card:nth-child(1) {
    width: 364px;
    height: 408px;
    margin: 0 auto;
  }
  section#knowledge .kn-cards .knowledge-card:nth-child(2),
  section#knowledge .kn-cards .knowledge-card:nth-child(3) {
    display: none;
  }
  footer#main-footer .container .bg {
    display: flex;
    padding: 16px;
    gap: 26px;
    border-radius: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #003459;
  }
  footer#main-footer .container .bg h3 {
    width: 100%;
    padding-top: 16px;
    color: #FDFDFD;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-transform: capitalize;
    align-self: stretch;
    font-family: "Inter", sans-serif;
  }
  footer#main-footer .container .bg form {
    width: 100%;
    padding: 12px;
    align-items: center;
    gap: 12px;
    display: flex;
    border-radius: 14px;
    align-items: flex-start;
    align-self: stretch;
    background-color: #fff;
  }
  footer#main-footer .container .bg form input {
    padding: 14px 28px;
    flex: 1;
    width: 49%;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border-radius: 8px;
    border: 1px solid #99A2A5;
  }
  footer#main-footer .container .bg form button {
    padding: 14px 28px;
    border-radius: 8px;
    width: 49%;
  }
  footer#main-footer .container .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid #CCD1D2;
  }
  footer#main-footer .container .footer-nav ul.footer-list {
    display: flex;
    gap: 60px;
  }
  footer#main-footer .container .footer-nav ul.footer-list li {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #00171F;
  }
  footer#main-footer .container .footer-nav ul.footer-icons {
    display: flex;
    gap: 40px;
  }
  footer#main-footer .container .footer-nav ul.footer-icons li {
    width: 24px;
    height: 24px;
  }
  footer#main-footer .container .policy {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 8px;
  }
  footer#main-footer .container .policy img.logo {
    position: relative;
    left: 40%;
    width: 115px;
    height: 40px;
    order: 1;
    margin-bottom: 24px;
  }
  footer#main-footer .container .policy p {
    order: 3;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #667479;
  }
  footer#main-footer .container .policy ul {
    justify-content: center;
    order: 2;
    display: flex;
    gap: 20px;
  }
  footer#main-footer .container .policy ul li {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    color: #667479;
  }
}
@media (max-width: 834px) {
  .container {
    width: 382px;
  }
  header#main-header {
    background-color: #FCEED5;
    padding-top: 35px;
    position: relative;
    border-bottom-right-radius: 40px;
    height: 747px;
    overflow: hidden;
    z-index: 1;
  }
  header#main-header .logo {
    margin: 0 auto;
  }
  header#main-header .container {
    position: relative;
  }
  header#main-header .container .shape-1 {
    z-index: -1;
    position: absolute;
    top: -75%;
    left: -48%;
    width: 635px;
  }
  header#main-header .container .shape-2 {
    display: none;
  }
  header#main-header .container .shape-3 {
    z-index: -1;
    position: absolute;
    top: 17%;
    left: 90%;
  }
  header#main-header .container .shape-4 {
    width: 15.928px;
    height: 15.928px;
    z-index: -1;
    position: absolute;
    top: 22%;
    left: 78%;
  }
  header#main-header .container .shape-5 {
    width: 12.437px;
    height: 12.437px;
    z-index: -1;
    position: absolute;
    top: 22.5%;
    left: 78%;
  }
  header#main-header .container .shape-6 {
    width: 528.983px;
    height: 528.983px;
    z-index: -1;
    position: absolute;
    top: 70%;
    left: 5%;
  }
  header#main-header .container .shape-7 {
    width: 528.983px;
    height: 528.983px;
    z-index: -1;
    position: absolute;
    top: 64%;
    left: 10%;
  }
  header#main-header .container .shape-8 {
    display: none;
  }
  header#main-header .container .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: auto;
  }
  header#main-header .container ul.nav-left {
    display: none;
  }
  header#main-header .container ul.nav-right {
    display: none;
  }
  header#main-header .container .showcase .showcase-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 690px;
    align-items: center;
  }
  header#main-header .container .showcase .showcase-wrapper .left-side {
    padding-top: 35px;
  }
  header#main-header .container .showcase .showcase-wrapper .left-side h1 {
    font-size: 46px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    text-transform: capitalize;
    color: #003459;
    margin: 0;
  }
  header#main-header .container .showcase .showcase-wrapper .left-side h1 span {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    text-transform: capitalize;
    color: #003459;
  }
  header#main-header .container .showcase .showcase-wrapper .left-side p {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    color: #003459;
  }
  header#main-header .container .showcase .showcase-wrapper .left-side .buttons {
    margin-top: 34px;
    display: flex;
    gap: 20px;
  }
  header#main-header .container .showcase .showcase-wrapper .right-side img {
    width: 414px;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
  }
  section#for-sale .container .cards a.last {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: span 2;
    text-align: center;
  }
  section#for-sale img {
    border-radius: 12px;
    width: 169px;
    height: 169px;
  }
  section#for-sale .head {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
  }
  section#for-sale .head p {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #00171F;
  }
  section#for-sale .head p span {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-transform: capitalize;
    color: #003459;
  }
  section#for-sale .head a.secondary-btn {
    margin-left: auto;
    display: none;
  }
  section#for-sale .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  section#explore .container {
    width: 382px;
    height: 640px;
    background-color: #003459;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }
  section#explore .container .explore-shape-1 {
    position: absolute;
    bottom: -20%;
    left: 0;
  }
  section#explore .container .explore-shape-2 {
    position: absolute;
    display: none;
  }
  section#explore .container .explore-shape-3 {
    visibility: visible;
    top: 0;
    left: -20%;
  }
  section#explore .container img {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  section#explore .container .explore-right {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex: 1;
    text-align: center;
    padding-top: 32px;
    padding-right: 0;
    position: relative;
    z-index: 1;
  }
  section#explore .container .explore-right h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px;
    text-transform: capitalize;
  }
  section#explore .container .explore-right h2 span {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: capitalize;
  }
  section#explore .container .explore-right p {
    color: #242B33;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }
  section#explore .container .explore-right .buttons {
    padding-top: 32px;
  }
  section#explore .container .explore-right .buttons .main-btn {
    margin-left: 20px;
  }
  section#products {
    display: none;
  }
  section#partners {
    display: none;
  }
  section#knowledge {
    display: grid;
    grid-template-columns: 1fr;
  }
  section#knowledge .container .kn-cards a.last {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: span 1;
    text-align: center;
  }
  section#knowledge a.secondary-btn {
    display: none;
  }
  section#knowledge .kn-cards .knowledge-card:nth-child(2),
  section#knowledge .kn-cards .knowledge-card:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr;
    width: 364px;
    height: 408px;
    margin: 0 auto;
  }
  footer#main-footer .container .bg {
    width: 100%;
    display: flex;
    padding: 16px;
    gap: 26px;
    border-radius: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #003459;
  }
  footer#main-footer .container .bg h3 {
    width: 100%;
    padding-top: 16px;
    color: #FDFDFD;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-transform: capitalize;
    align-self: stretch;
    font-family: "Inter", sans-serif;
  }
  footer#main-footer .container .bg form {
    width: 100%;
    padding: 12px;
    align-items: center;
    gap: 12px;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    align-items: flex-start;
    align-self: stretch;
    background-color: #fff;
  }
  footer#main-footer .container .bg form input {
    padding: 14px 28px;
    flex: 1;
    width: 100%;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border-radius: 8px;
    border: 1px solid #99A2A5;
  }
  footer#main-footer .container .bg form button {
    padding: 14px 28px;
    border-radius: 8px;
    width: 100%;
  }
  footer#main-footer .container .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid #CCD1D2;
  }
  footer#main-footer .container .footer-nav ul.footer-list {
    display: flex;
    gap: 60px;
  }
  footer#main-footer .container .footer-nav ul.footer-list li {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #00171F;
  }
  footer#main-footer .container .footer-nav ul.footer-icons {
    display: flex;
    gap: 40px;
  }
  footer#main-footer .container .footer-nav ul.footer-icons li {
    width: 24px;
    height: 24px;
  }
  footer#main-footer .container .policy {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 8px;
  }
  footer#main-footer .container .policy img.logo {
    position: relative;
    left: 36%;
    width: 115px;
    height: 40px;
    order: 1;
    margin-bottom: 24px;
  }
  footer#main-footer .container .policy p {
    order: 3;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #667479;
  }
  footer#main-footer .container .policy ul {
    justify-content: center;
    order: 2;
    display: flex;
    gap: 20px;
  }
  footer#main-footer .container .policy ul li {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    color: #667479;
  }
}
@media (max-width: 414px) {
  .container {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */