.sidebar {
  position: fixed;
  left: -359px;
  top: 0;
  padding: 60px 35px;
  width: 359px;
  height: 100%;
  background-color: $primary-dark-blue;
  z-index: 1110;
  transition: all .5s ease;


  i.cancel {
    position: absolute;
    right: 5%;
    font-size: 28px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      color: #fff;
    }
    li.main-btn {
      background-color: $secondary-mon-yellow;
      color: $primary-dark-blue;
    }
  }
}
